* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'monospace', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 34px;
  min-height: 100vh;
  background: #1c1c1c;
  letter-spacing: 1px;
  color: #fff;
  padding: 12px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

input, button {
  font-weight: 600;
  height: 40px;
  width: 500px;
  max-width: 100%;
  border-radius: 8px;
  border: none;
}

input {
  padding: 0 16px;
}

input:focus {
  outline: 2px solid #9c57f7;
}

button {
  cursor: pointer;
  font-size: 18px;
  background: #9c57f7;
  color: #000;
  transition: .2s ease;

  &:hover {
    box-shadow: 0 0 10px #9c57f7;
  }
}

button:active {
  transform: scale(.98);
}

label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100%;
  font-size: 18px;
  text-transform: uppercase;
}

h1 {
  position: relative;
  text-align: center;

  &:after {
    content: '';
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 100%;
    height: 8px;
    background: #9c57f7;
    border-radius: 2px;
    z-index: -1;
  }
}

#response {
  max-width: 100%;
  padding: 34px;
  background: #181818;
  border-radius: 8px;
  white-space: pre-wrap;
}

#response:empty {
  display: none;
}

p {
  width: 500px;
  max-width: 100%;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}